<!DOCTYPE HTML>
<html>
<head>
<title>University a Educational Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    {% load staticfiles %}
<link href="{% static 'css/bootstrap.css'%}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="University Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="{% static 'js/jquery.min.js' %}"></script>
 <script src="{% static 'js/bootstrap.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#loginLink").click(function(e){
                e.preventDefault();
                $("#loginModal").modal();
            });

            {% if request.session.alert != None %}

                $("#alert_info").html("{{ request.session.alert }}");
                $("#alert_model").modal();

            {% endif %}

        });

    function validate(){

{#        if(isNaN($("#id_username").val())){#}
{#            alert("Not number");#}
{#        }#}
        return true;
    }
    </script>

</head>
<body>
<!-- banner -->
<script src="{% static 'js/responsiveslides.min.js' %}"></script>
<script>  
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>  
<div class="banner">	  
	 <div class="header">
			 <div class="logo">
				 <a href="index.html"><img src="{% static 'images/logo.jpg' %}" alt=""/></a>
			 </div>
			 <div class="top-menu">
				 <span class="menu"></span>
				 <ul class="navig">
					 <li class="active"><a href="index.html">Home</a></li>
					 <li><a href="about.html">About</a></li>
					 <li><a href="gallery.html">Gallery</a></li>
					 <li><a href="contact.html">Contact</a></li>
                     <li><a href="" id="loginLink">Login</a></li>
				 </ul>
			 </div>
			  <!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$("ul.navig").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->

			 <div class="clearfix"></div>
	 </div>
	 <div class="slider">
		 <div class="caption">
			 <div class="container">
				  <div class="callbacks_container">
					  <ul class="rslides" id="slider">
						    <li><font size="12">Maintained as per the AICTE norms and standards and curriculum of CUSAT</font size></li>
							<li><font size="12">Create professionals with competency and values who will be the fore runners in technology</font size></li>
							<li><font size="12">Creating globally competitive professionals who would contribute profusely to the society</font size></li>
					  </ul>	
						<div class="clearfix"></div>
				  </div>
			  </div>
		  </div>
	  </div>
	  <div class="banner-grids">
		  <div class="container">
			 <div class="col-md-4 banner-grid">
				 <h3>Lab 1</h3>
				 <div class="banner-grid-sec">
					 <div class="grid_info">
						 <div class="blg-pic">
							 <img src="{% static 'images/m1.jpg' %}" class="img-responsive" alt="">
						 </div>
						 <div class="blg-pic-info">
							 <h4><a href="#">Data Structure Lab</a></h4>
							 <p>Sorting and Searching, Linked List, Arrays, Stacks , Queues in java.</p>
						 </div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="grid_info">
						 <div class="blg-pic">
							 <img src="{% static 'images/m2.jpg' %}" class="img-responsive" alt="">
						 </div>
						 <div class="blg-pic-info">
							 <h4><a href="#">Network and OS</a></h4>
							 <p>Study of System Level calls of a multitasking OS</p>
						 </div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="more">
						 <a href="blog.html">Know more from the CEC website ></a>
					 </div>
				 </div>
			 </div>
			 <div class="col-md-4 banner-grid">
				 <h3 style="font-weight: bolder; text-align: center; color: #000">VIRTUAL LAB</h3>
				 <div class="banner-grid-sec">
					 <img src="{% static 'images/cpp_java_python.png' %}">
				 </div>
			 </div>
			 <div class="col-md-4 banner-grid">
				 <h3>Lab 2</h3>
				 <div class="banner-grid-sec news_sec">
					 <div class="grid_info">
						 <div class="blg-pic">
							 <img src="{% static 'images/m1.jpg' %}" class="img-responsive" alt="">
						 </div>
						 <div class="blg-pic-info">
							 <h4><a href="#">Computer Graphics Lab</a></h4>
							 <p>Implementing Line, Circle, Ellipse drawing algorithms, Polygon Filling.</p>
						 </div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="grid_info">
						 <div class="blg-pic">
							 <img src="{% static 'images/m2.jpg' %}" class="img-responsive" alt="">
						 </div>
						 <div class="blg-pic-info">
							 <h4><a href="#">Microprocessor Lab</a></h4>
							 <p>Programming 8085/86 ,Interfacing 8085 with high-power devices</p>
						 </div>
						 <div class="clearfix"></div>
					 </div>
					 <div class="more">
						 <a href="blog.html">Know more from CEC website ></a>
					 </div>
				 </div>
			 </div>
			 <div class="clearfix"></div>
		  </div>
	  </div>
</div>
<!---->

<!---->
<div class="footer">
	 <div class="container">
		 <div class="ftr-sec">
			 <div class="col-md-4 ftr-grid">
				 <h3>Virtual lab</h3>
				 <p>At the time of learning languages like C, C++, Java Etc. The beginners had number of
problem like to install compilers at desktop-pc. Some time student had to face the problem of
configuring the compiler. So that they can’t get execute the program successfully. And other
problem is that if the users want to compile program on any other system they require again all
processing to install and configuration problem.</p>
				 <p>To solve this problem a python application is
designed to execute the program on different types of source code by one editor. And also a
well configured compiler providing services by servers.Simply to create a common server for
different programming language.To create a common interface for all programming language..</p>
			 </div>
			 <div class="col-md-4 ftr-grid2">
				 <h3>Pages</h3>
				 <ul>
					 <li><a href="index.html"><span></span>Home</a></li>
					 <li><a href="about.html"><span></span>About</a></li>
					 <li><a href="program.html"><span></span>Programs</a></li>
					 <li><a href="blog.html"><span></span>Blog</a></li>	
					 <li><a href="gallery.html"><span></span>Gallery</a></li>
					 <li><a href="contact.html"><span></span>Contact</a></li>
				 </ul>
			 </div>
			 <div class="col-md-4 ftr-grid3">
				 <h3>Quick links</h3>
				 <ul>
					 <li><a href="about.html"><span></span>History</a></li>
					 <li><a href="about.html"><span></span>Departments</a></li>
					 <li><a href="gallery.html"><span></span>Services</a></li>
					 <li><a href="blog.html"><span></span>Guidances</a></li>	
					 <li><a href="about.html"><span></span>Team</a></li>
					 <li><a href="contact.html"><span></span>Contact</a></li>
				 </ul>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!---->
<div class="copywrite">
	 <div class="container">
		 <p>Copyright © 2015 University. All rights reserved | Design by Django girls</p>
	 </div>
</div>
<!---->


<div id="loginModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
        <form action="" method="post" onsubmit="return validate()">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
{#          <div class="col-md-10 col-md-offset-1">#}

                {% csrf_token %}
                  <div class="form-group">
                      {{ form.username }}
                  </div>
                  <div class="form-group">
                      {{ form.password}}
                  </div>


{#          </div>#}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
            </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


        <div class="modal fade" id="alert_model" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Info</h4>
                    </div>
                    <div class="modal-body">
                        <p id="alert_info"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

</body>
</html>